/* COLOR SWATCHES
Primary Colors (Blue): 
  #6DA4F8   #9EC3FA   #E7F0FE

Accent Color (Pink): 
  #FD9BAA   #FDB4BF   #FFE6EA

Greens:  
  #7DDFC3   #ADEBD9   #D6F5EC

Red-Alert:  
  #F27373   #FAB8B8   #FDE7E7

Grays:
  #5C6070   #B9BEC6   #E3E5E8
*/


/*  TYPOGRAPHY
Heading 1: Roboto Bold (48px)
Heading 2: Roboto Medium (36px)
Heading 3: Roboto Bold (28px)
Body: Roboto Regular (16px)
Search Text: Roboto Regular (16px)
Button Text: Roboto Medium (16px)
*/



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.login-form {
  width: 35%;
  align-items: center;
  height: 80%;
  position: absolute;
  top: 0; 
  bottom: 0; 
  right: 0; 
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.sign-up-form {
  width: 50%;
  align-items: center;
  height: 80%;
  position: absolute;
  top: 0; 
  bottom: 0; 
  right: 0; 
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: "Roboto Bold", sans-serif;
  font-size: 16px;
  color: #5C6070;
}

.login-form h3 {
  margin-top: 50px;
  margin-left: -100px;
}

.sign-up-form h3 {
  margin-top: 50px;
  margin-left: -100px;
}

.login-form Form {
  margin-top: 30px;
  width: 90%;
}

.sign-up-form Form {
  width: 90%;
}

.login-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #B9BEC6;
  border-radius: 5px;
}

.sign-up-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #B9BEC6;
  border-radius: 5px;
  color: white;
  font-family: "Roboto Regular", 'sans-serif';
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input label {
  font-size: 12px;
  font-family: "Roboto Bold", sans-serif;
}

.names-div {
  display: flex;
  justify-content: center;
  width: 95%;
  margin-top: 20px;
}

.field-item-Fname {
  width: 40%;
}

.field-item-Fname .name {
  width: 70%;
}
.field-item-Lname {
  width: 40%;
}

.field-item-Lname .name {
  width: 70%;
}

.field-item-last {
  margin-top: 10px;
  padding-bottom: 30px;
}

.field-item {
  margin: 10px 0;
  height: 25px;
  width: 95%;
}

.button-style-main {
  width: 80%;
  height: 35px;
  margin-top: 30px;
  color: #6DA4F8;
  font-weight: bold;
  background-color: white;
  border: 2px solid #6DA4F8;
  border-radius: 5px;
}

.button-style-main:active {
  color: white;
  background-color: #6DA4F8;
}

.landing-page {
  width: 100%;
  height: 100%;
}

.landing-div {
  /* margin-top: 20px; */
}

.landing-div h1 {
  font-size: 48px;
  font-family: "Roboto Bold", 'sans-serif';
  color: #6DA4F8;
}

.landing-div h4,p {
  font-size: 18px;
}

.landing-div button {
  width: 40%;
  background-color: #6DA4F8;
  color: white;
  margin-bottom: 5px;
}

.sign-in-div {
  width: 45%;
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.sign-in-div p {
  line-height: center;
}


.sign-in-link {
  font-size: 18px;
  vertical-align: middle;
  line-height: 100%;
  padding-left: 10px;
}


.expenses-list {
  background: #E3E5E8;
  margin: 10px 0;
  margin-bottom: 20px;
}

.expenses-summary {
  background: #E3E5E8;
  border: 1px solid black;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
}

.expenses-summary h2 {
  padding-left: 30px;
}

.expense {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: .5px 1px;
  margin: 5px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense h3 {
  padding-left: 10%;
}

.expense p {
  color: red;
  padding-right: 10%;
}
